<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File Upload</title>
</head>
<body>
여기는 업로드된 파일이름들 보여주는곳<br>
<th:block th:each="file : ${files}">
    <p>파일 이름: [[${file.name}]]</p>
</th:block>

<form action="myuploadpro" method="post" enctype="multipart/form-data">
    <input type="file" class="custom-file-input files" name="myfile" multiple>
    <input type="submit" value="올리기">
</form>
</body>
</html>
